/*!
 * Style for https://ppfeufer.de
 */

/* Override parent theme styles
--------------------------------------------------------------------------------------------------------------------- */
.prose {
    max-width: 120ch;
}

.max-w-prose {
    max-width: 110ch;
}

a:focus, button:focus, .menu-links.menu-vertical .menu-item > a:focus, .menu-links > .menu-item > a:focus {
    outline-style: none;
}

/* Remove header from home page
--------------------------------------------------------------------------------------------------------------------- */
article#post-29952 header {
    display: none;
}

article#post-29952 .entry-content {
    margin-top: 24px;
}

/* Footer should always be at the bottom
--------------------------------------------------------------------------------------------------------------------- */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body > div.container {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

/* Responsive
--------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 992px) {
    .no-sidebar .prose.prose-moose .alignwide {
        margin: 40px -5% !important;
        max-width: 110%;
        width: 110%;
    }
}
