/* Defaults
--------------------------------------------------------------------------------------------------------------------- */
:root {
    --font-family-code: 'Fira Code', monospace;
    --font-family-code-font-variation: 'Fira Code VF', monospace;

    --color-grey-light: rgb(192 192 192);
    --color-grey-dark: rgb(136 136 136);

    --tw-border-opacity: 1;
}
