/**
 * Style for https://ppfeufer.de
 */

@media all {
    /* Sticky primary sidebar
    --------------------------------------------------------------------------------- */
    .sidebar-primary {
        position: sticky;
        top: 5rem;
    }

    /* Make sure SVG images always use the full space they have
    --------------------------------------------------------------------------------- */
    svg {
        height: 100%;
        width: 100%;
    }

    /* SVG sprite
    --------------------------------------------------------------------------------- */
    .svg-sprite {
        height: 0;
        width: 0;
    }
}
