/* Defaults
------------------------------------------------------------------------------------- */
:root {
    --backdrop-filter-default: saturate(1.5) blur(1.5em);
    --background-color-light-transparency: rgb(255 255 255 / 60%);
    --background-hover-transition: background-color 0.25s linear;
    --font-family-code: "Fira Code", monospace;
    --font-code: 0.9rem/1.3rem var(--font-family-code);
    --color-grey-light: rgb(192 192 192);
    --color-grey-dark: rgb(136 136 136);

    @supports (font-variation-settings: normal) {
        --font-family-code: "Fira Code VF", monospace;
    }
}
