/**
 * Style for https://ppfeufer.de
 */

@media all {
    /* Override parent theme styles
    --------------------------------------------------------------------------------- */
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    body > div.container {
        align-items: flex-start;
        flex: 1 0 auto;
    }

    .prose {
        max-width: 120ch;
    }

    .max-w-prose {
        max-width: 110ch;
    }

    a:focus,
    button:focus,
    .menu-links.menu-vertical .menu-item > a:focus,
    .menu-links > .menu-item > a:focus {
        outline-style: none;
    }

    a {
        text-decoration: underline;
    }

    a:focus,
    button:focus {
        color: inherit;
    }

    .comments-area .comment-list .comment-content p {
        margin: inherit;
    }

    blockquote,
    dd,
    dl,
    figure,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    p,
    pre {
        margin: inherit;
    }

    /* Navbar
    --------------------------------------------------------------------------------- */
    .is-sticky .navbar {
        backdrop-filter: var(--backdrop-filter-default);
        background-color: var(--background-color-light-transparency);
    }

    .navbar .site-brand img {
        width: auto;
    }

    /* Sticky primary sidebar
    --------------------------------------------------------------------------------- */
    .sidebar-primary {
        position: sticky;
        top: 5rem;
    }

    /* Next/previous post navigation
    --------------------------------------------------------------------------------- */
    .post-navigation .nav-links > div {
        width: 50%;
    }

    .post-navigation .nav-links .nav-next {
        text-align: right;
    }

    /* Footer should always be at the bottom
    --------------------------------------------------------------------------------- */
    footer {
        flex-shrink: 0;
    }

    /* Make sure SVG images always use the full space they have
    --------------------------------------------------------------------------------- */
    svg {
        height: 100%;
        width: 100%;
    }

    /* Comment form
    --------------------------------------------------------------------------------- */
    .comments-area .comment-list .reply::before {
        margin-right: 0.5rem;
    }

    /* SVG sprite
    --------------------------------------------------------------------------------- */
    .svg-sprite {
        height: 0;
        width: 0;
    }
}

/* Responsive
------------------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
    .no-sidebar .prose.prose-moose .alignwide {
        margin: 40px -5% !important;
        max-width: 110%;
        width: 110%;
    }
}
